# Byte-compiled / optimized
__pycache__/
*.py[cod]

# Documentation images (uploaded to GitHub releases)
docs/examples/sample_images/*.png
docs/examples/sample_images/*.jpg
docs/examples/sample_images/*.gif

# Distribution / packaging
.Python
env/
venv
.venv
build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
*.egg-info/
*.egg

# Sphinx documentation
docs/build/
public

# emacs/vi backups
*~
\#*\#
*.swp

# Other
.vscode
.ipynb_checkpoints
.idea/*
Untitled*.ipynb
*.DS_Store
demo*
